body {
  font-family: "Inter", sans-serif;
  background-color: rgb(33, 37, 41);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

.grok-logo {
  height: 20vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grok-logo img {
  height: 8vh;
}

.grok-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0vh 20vw 20vh 20vw;
  height: 60vh;
  padding: 20px;
  border-radius: 35px;
  background-color: white;
  gap: 50px;
}

#form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 70%;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#prompt-input,
#submit-button {
  border-style: solid;
  border-width: 0;
}

#prompt-input {
  padding: 15px;
  width: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#submit-button {
  width: 100px;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgb(255, 65, 76);
  color: white;
  font-weight: bold;
}

#submit-button:hover {
  cursor: pointer;
  background-color: rgb(233, 8, 8);
}

.output-container {
  width: 100%;
  height: 100%;
  border: 1px solid;
  min-height: 50px;
  margin: 0 10px;
}

#output-text {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  padding: 15px;
}
